/****************************************************************************\
*                                                                            *
*  MODULE NAME: HMTAILOR.RC                                                  *
*                                                                            *
*        Copyright (c) IBM Corporation 1987, 1989, 1991                      *
*                                                                            *
*        All Rights Reserved                                                 *
\****************************************************************************/

#include "hmtailor.h"

MENU IDM_HM_MENU LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    SUBMENU  "Ser~vices",                       IDM_FILE
       BEGIN
          MENUITEM   "~Search...\tCtrl+S",      IDM_SEARCH
          MENUITEM   "~Print...",               IDM_PRINT
          MENUITEM   "",                        -1,   MIS_SEPARATOR
          MENUITEM   "~New window\tCtrl+N",     IDM_VIEWPORT
          MENUITEM   "",                        -1,   MIS_SEPARATOR
          MENUITEM   "C~opy\tCtrl+Ins",         IDM_CLIP_COPY
          MENUITEM   "",                        -1,   MIS_SEPARATOR
          MENUITEM   "~Copy to file\tCtrl+F",   IDM_CLIP_CF
          MENUITEM   "~Append to file\tCtrl+A", IDM_CLIP_AF
       END

    SUBMENU  "~Options",                        IDM_OPTIONS
       BEGIN
          MENUITEM   "E~xpand one level\t+",    IDM_OPTION_EXPLEVEL
          MENUITEM   "Expand ~branch\t*",       IDM_OPTION_EXPBRANCH
          MENUITEM   "Expand ~all\tCtrl+*",     IDM_OPTION_EXPALL
          MENUITEM   "~Collapse branch\t-",     IDM_OPTION_COLBRANCH
          MENUITEM   "C~ollapse all\tCtrl+-",   IDM_OPTION_COLALL
          MENUITEM   "",                        -1,   MIS_SEPARATOR
          MENUITEM   "Con~tents\tCtrl+C",       IDM_TOC
          MENUITEM   "",                        -1,   MIS_SEPARATOR
          MENUITEM   "~Viewed pages\tCtrl+H",   IDM_VIEWPAGES
          MENUITEM   "",                        -1,   MIS_SEPARATOR
          MENUITEM   "~Libraries\tCtrl+L",      IDM_LIBRARIES
          MENUITEM   "",                        -1,   MIS_SEPARATOR
          MENUITEM   "~Previous",               IDM_PREVIOUS
       END

    SUBMENU  "~Help",                           IDM_HELP
       BEGIN
        MENUITEM   "Help ~index\tF11",          IDM_HELP_INDEX
        MENUITEM   "~General help\tF2",         IDM_GENERAL_HELP
        MENUITEM   "~Using help\tShift+F10",    IDM_USING_HELP
        MENUITEM   "~Keys help\tF9",            IDM_HELP_KEYS
       END

END


/*************************************************************************/
/* Cover page frame accel for help manager                               */
/*************************************************************************/
ACCELTABLE IDA_COVERPAGE_HM_ACCEL LOADONCALL MOVEABLE DISCARDABLE
BEGIN

   VK_INSERT,  IDM_CLIP_COPY, VIRTUALKEY, CONTROL
   "s",        IDM_SEARCH, CHAR, CONTROL
   "c",        IDM_TOC, CHAR, CONTROL
   "h",        IDM_VIEWPAGES, CHAR, CONTROL
   "f",        IDM_CLIP_CF, CHAR, CONTROL
   "a",        IDM_CLIP_AF, CHAR, CONTROL
   "n",        IDM_VIEWPORT, CHAR, CONTROL
   "l",        IDM_LIBRARIES, CHAR, CONTROL

   "S",        IDM_SEARCH, CHAR, CONTROL
   "C",        IDM_TOC, CHAR, CONTROL
   "H",        IDM_VIEWPAGES, CHAR, CONTROL
   "F",        IDM_CLIP_CF, CHAR, CONTROL
   "A",        IDM_CLIP_AF, CHAR, CONTROL
   "N",        IDM_VIEWPORT, CHAR, CONTROL
   "L",        IDM_LIBRARIES, CHAR, CONTROL

   VK_F10,     IDM_USING_HELP, VIRTUALKEY, SHIFT
   VK_F2,      IDM_GENERAL_HELP, VIRTUALKEY
   VK_F9,      IDM_HELP_KEYS, VIRTUALKEY
   VK_F11,     IDM_HELP_INDEX, VIRTUALKEY
   VK_F1,      IDM_HELP_INDEX, VIRTUALKEY, SHIFT
   VK_F2,      IDM_TUTORIAL, VIRTUALKEY, SHIFT
   VK_SPACE,   IDM_CHILDVPSYSMENU, VIRTUALKEY, CONTROL
END

